{{#issues}}
  {{#hasIssue}}
  * {{name}} {{issue}} {{title}} {{#hasIssueType}} *{{issueType}}* {{/hasIssueType}} {{#hasLabels}} {{#labels}} *{{.}}* {{/labels}} {{/hasLabels}}
  {{/hasIssue}}
  {{^hasIssue}}
  * *{{name}}*
  {{/hasIssue}}
  {{#commits}}
  * {{{messageTitle}}}
  {{/commits}}
{{/issues}}
