{{#tags}}
*{{name}}*
 {{#issues}}
  {{#hasIssue}}
  * {{name}} {{issue}} {{title}} {{#hasIssueType}} *{{issueType}}* {{/hasIssueType}} {{#hasLabels}} {{#labels}} *{{.}}* {{/labels}} {{/hasLabels}}
  {{/hasIssue}}
  {{^hasIssue}}
  * {{name}}
  {{/hasIssue}}

  {{#commits}}
  * *{{{messageTitle}}}*

{{#messageBodyItems}}
   {{.}} 
{{/messageBodyItems}}

  {{/commits}}

 {{/issues}}
{{/tags}}